body{
    font-family: Arial, Tahoma;
    /*font-size: 12px;*/

}
#header{
    height: 50px;
    background-color: steelblue;
    border: 1px solid white;
    margin-bottom:5px;
    text-align: left;

}
#header ul, #header li{
    padding:0;
    margin:0;
}

#header li{
    position: relative;
    float: left;
    list-style: none;
    margin: 0;
    padding:0;
}

#header li a{
    width:375px;
    height: 50px;
    display: block;
    text-decoration:none;
    text-align: center;
    line-height: 30px;
    background-color: white;
    color: white;

}

#header ul ul li a{
    width: 300px;
    text-align: left;
    padding-left: 10px;

}

#header li a:hover{
    background-color: grey;

}

#header ul ul{
    position: absolute;
    top: 30px;
    left: 15px;
    visibility: hidden;

}

#header ul li:hover ul{
    visibility: visible;

}

#main li a{
    width:375px;
    height: 50px;
    display: block;
    text-decoration:none;
    text-align: center;
    line-height: 30px;
    background-color: white;
    color: white;

}
#content{
    width: 937px;
    min-height: 610px;
    border: 1px solid #CDCDCD;
    float:left;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    background-color: grey;
}

#left{
    width: 250px;
    min-height: 610px;
    border: 1px solid #CDCDCD;
    float:left;
    background-color: white;
    margin-bottom: 5px;
}



#right{
    width: 300px;
    min-height: 610px;
    border: 1px solid #CDCDCD;
    float:right;
    margin-bottom: 5px;
    background-color: white;
}

#footer{
    height: 50px;
    clear: both;
    border: 1px solid #CDCDCD;
    background-color: white;
    text-align: center;
}
